html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f4f7f9;

  display: flex;
  flex-direction: column;
}

.main-header a {
  color: #000000;
}

.main-header-top {
  background-color: #293449;
  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
}

.main-header-top a,
.main-navigation a {
  color: #ffffff;
  display: block;
  width: 100%;
}

.main-navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.logo-header {
  background-color: #ee3643;
  text-transform: uppercase;
  text-align: center;

  width: 220px;
  height: 47px;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
}

.marker {
  background-color: #293449;
}

.marker:hover {
  background-color: #212a3a;
}

.marker:active {
  background-color: #161d29;
}

.basket {
  background-color: #293449
}

.basket:hover {
  background-color: #212a3a;
}

.basket:active {
  background-color: #161d29;
}

.search-page input[type="text"] {
  background-color: #293449;
  border: none;
}

.search-page input:hover {
  background-color: #212a3a;
}

.search-page input:focus {
  background-color: #ffffff;
  color: #000000;
}

.search-page input[type="text"]::placeholder {
  color: white;
}

.main-header-description {
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.main-header-number{
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.main-header-address {
  color: #293449;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
}

.user-navigation-login a:hover {
  color: #ee3643;
}

.user-navigation-login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-item a:hover {
  color: #ee3643;
}

.user-navigation-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-navigation-info a:hover {
  color: #000000;
}

.user-navigation-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
}

.main-navigation-item:hover {
  background-color: #293449;
}

.main-navigation-item:active {
  background-color: #1d2739;
}

.main-navigation-item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.about-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-text {
  font-family: "PT Sans", "Arial", sans-serif;
}

.contacts-text {
  font-family: "PT Sans", "Arial", sans-serif;
}

.delivery-company-item {
  font-size: 18px;
  line-height: 20px;
}

.button {
  background-color: #ee3643;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.title-block {
  width: 100%;
  background-color: #f9f5f0;
}

.title-block--catalog {
  background-color: #f2f6f8;
}

.breadcrumbs-item {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.breadcrumbs-item a {
  color: #000000;
}

.product-filter-item {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: bold;
  font-size: 18px;
  line-height: 20px;
}

.product-price {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  background-color: #ee3643;
}

.footer-navigation {
  list-style: none;
}

.add-navigation {
  list-style: none;
}

.social-contacts {
  list-style: none;
}

.popup-form,
.popup-map,
.popup-notification,
.visually-hidden {
  display: none;
}
