body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #f4f7f9;
}

.main-header a {
  color: #000000;
}

.main-header-top,
.main-navigation {
  background-color: #293449;
  color: #ffffff;
}

.main-header-top {
  font-size: 17px;
  line-height: 18px;
}

.main-header-top a,
.main-navigation a {
  color: #ffffff;
}

.logo-header {
  background-color: #ee3643;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.marker {
  background-color: #293449;
}

.marker:hover {
  background-color: #212a3a;
}

.marker:active {
  background-color: #161d29;
}

.basket {
  background-color: #293449
}

.basket:hover {
  background-color: #212a3a;
}

.basket:active {
  background-color: #161d29;
}

.search-page {
  background-color: #293449;
}

.search-page:hover {
  background-color: #212a3a;
}

input[type="text"] {
  background-color: #293449;
  border: none;
}

input[type="text"]::placeholder {
  color: white;
}

.main-header-description {
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.main-header-number{
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.main-header-address {
  color: #293449;
  font-size: 14px;
  line-height: 24px;
}

.auth-navigation a {
  font-size: 21px;
  line-height: 21px;
}

.user-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.popup-form,
.popup-map,
.popup-notification,
.visually-hidden {
  display: none;
}
